{% if view %}
<tr>
    <td>
        <table width="100%" cellpadding="2" cellspacing="2" class="nav_panel">
            <tr>
                <td width="20%">
                    <a href="{% url 'dt_direction_view' view.dir_id %}">Вернуться к списку ДЦС</a>
                </td>
                <td width="20%">
                    <a href="{% url 'dt_dcs_view' view.dcs_id %}">Список ЦПО</a>
                </td>
                <td width="20%">
                    <a href="{% url 'dt_dcs_active_students_view' view.dcs_id %}">Список активных пользователей</a>
                </td>
                <td width="20%">
                    <a href="{% url 'dt_dcs_inactive_students_view' view.dcs_id %}">Список неактивных пользователей</a>
                </td>
                <td width="20%">
                    <a href="{% url 'dt_dcs_all_students_view' view.dcs_id %}">Общий список пользователей</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endif %}